<p id="notice"><%= notice %></p>

<p>
  <strong>Cliente:</strong>
  <%= @qualicacao.cliente_id %>
</p>

<p>
  <strong>Restaurante:</strong>
  <%= @qualicacao.restaurante_id %>
</p>

<p>
  <strong>Nota:</strong>
  <%= @qualicacao.nota %>
</p>

<p>
  <strong>Valor gasto:</strong>
  <%= @qualicacao.valor_gasto %>
</p>

<%= link_to 'Edit', edit_qualicacao_path(@qualicacao) %> |
<%= link_to 'Back', qualicacaos_path %>
