<h>Sistema de Restaurantes</h>
<p>
<%= link_to 'Novo', action: 'new' %>
</p>
<% @restaurantes.each do |restaurante| %>
  <tr>
    <h1><%= restaurante.nome %> </h1>
    <p><%= restaurante.endereco %> </p>
    <p><%= restaurante.especialidade %> </p>
    <p>
      <%= link_to 'Detalhe', action: 'show', id: restaurante%>
      <%= link_to 'Deletar', {action: 'destroy', id: restaurante}, {method: "delete"} %>
      <%= link_to 'Editar', action: 'edit', id: restaurante %>
    </p>
  </tr>
<% end %>
