<h1>Adicionando Restaurante</h1>

<%= form_for :restaurante, :url => {:action => 'create'} do |f| %>
	Nome: <%= f.text_field :nome %> <br/>
	Endereço: <%= f.text_field :endereco %> <br/>
	Especialidade: <%= f.text_field :especialidade %> <br/>
	<%= submit_tag 'Criar' %>
<% end %>

<%= link_to 'Voltar', {:action => 'index'} %>
